<header [title]="'Chat'" [back]="true"></header>

<ion-content #content>
  <ion-grid *ngIf="!isLoading">
    <ion-row>
      <ion-col size="12" *ngFor="let item of messages">
        <div class="ion-float-left">
          <left-row *ngIf="item.sender_id !== user.id" [item]="item"></left-row>
        </div>
        <div class="ion-float-right">
          <right-row *ngIf="item.sender_id === user.id" [item]="item"></right-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="spinner" *ngIf="isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div>


</ion-content>

<ion-footer style="background-color: white">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="ion-no-padding ion-padding-start">
          <ion-row class="ion-no-padding">
            <ion-col size="9" style="margin-top: 8px" class="ion-no-padding">
              <ion-input [(ngModel)]="text" placeholder="Type your message here...">
              </ion-input>

            </ion-col>
            <ion-col size="3">
              <ion-button (click)="sendMessage()" [disabled]="isMsgLoading">

                <!-- <img src="assets/images/microphone.png" /> -->
                <ion-icon name="send"></ion-icon>
              </ion-button>
            </ion-col>

          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>