<ion-grid class="ion-no-padding">
  <ion-row class="ion-no-padding">
    <ion-col class="ion-no-padding" size="12">
      <p style="font-weight: bold; font-size: 1.5vh; margin-bottom: 3px; margin-left: 2px;" *ngIf="item.isGroup">
        {{item.sender?.name}}</p>
      <ion-card class="ion-padding ion-no-margin f-pop-m"
        style="border-bottom-left-radius: 0px; border: 1px solid #e1e1e1;">{{ item.message }}
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-no-margin ion-margin-start">
    <ion-col class="ion-no-padding" size="12">
      <p class="f-pop-m time">{{ item.created | date:'short' }}</p>
    </ion-col>
  </ion-row>
</ion-grid>