<ion-header>

  <ion-toolbar>
    <div class="header">
      <ion-buttons slot="start">
        <ion-button *ngIf="back === true" (click)="nav.pop()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
        <ion-menu-button *ngIf="back === false">
          <img src="../../../assets/menu.png" alt="">
          <ion-menu-toggle></ion-menu-toggle>
        </ion-menu-button>
      </ion-buttons>

      <div class="profile" (click)="goTo('messages')">
          <ion-icon name="chatbubble-ellipses-outline" class="icon-2"></ion-icon>
      </div>

      <div class="profile" (click)="goTo('notifications')">
          <ion-icon name="notifications-outline" class="icon-2"></ion-icon>
      </div>

      <div class="profile" (click)="goTo('profile')">
        <ion-icon name="person-circle-outline" class="icon"></ion-icon>
      </div>

    </div>
  </ion-toolbar>
</ion-header>
