<header [title]="'Profile'" [back]="true"></header>

<ion-content #content>
  <div #map id="map"></div>
  <ion-card style="margin-top: 0">
    <div *ngIf="!isLoading">
      <div class="main-div">
        <ion-avatar (click)="changeProfile()" class="avatar-img">
          <ion-img
            [src]="isOwnProfile ? profile.profile_image : 'https://api.veenme.com/uploads/profile-images/' + profile.profile_image"
          >
          </ion-img>
        </ion-avatar>
        <ion-text style="margin-top: -20px" class="ion-text-center">
          <ion-title>{{profile.fname}}</ion-title>
          <p style="margin-top: 10px">
            {{following_list?.length + ' Following '}} | {{follower_list?.length
            + ' Followers '}}
          </p>
        </ion-text>
        <div *ngIf="!isOwnProfile" style="width: 100%; position: relative">
          <div class="floating-div">
            <ion-button (click)="followUnfollowUser()">
              {{isFollowing ? 'Unfollow' : 'Follow'}}
            </ion-button>
          </div>
        </div>
      </div>

      <ion-row>
        <!-- style="transform: translateY(-8vh);" -->
        <ion-col size="6">
          <ion-item lines="none">
            <p slot="start" class="block-heading">Interest</p>
            <ion-button
              [hidden]="showInterestTextField"
              *ngIf="isOwnProfile"
              slot="end"
              fill="clear"
              (click)="toggleTextField('interest')"
            >
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item lines="none">
            <p *ngIf="!showInterestTextField" style="margin: 5px 0">
              {{profile.interset}}
            </p>

            <div *ngIf="showInterestTextField">
              <ion-textarea
                class="text-box-style"
                [(ngModel)]="profile.interset"
              >
              </ion-textarea>
              <ion-button (click)="save('interest')" fill="clear">
                <ion-icon name="save-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="toggleTextField('interest')" fill="clear">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
        </ion-col>

        <ion-col size="6">
          <ion-item lines="none">
            <p slot="start" class="block-heading">Info</p>
            <ion-button
              [hidden]="showInfoTextField"
              *ngIf="isOwnProfile"
              slot="end"
              fill="clear"
              (click)="toggleTextField('info')"
            >
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
          </ion-item>
          <ion-item lines="none">
            <p *ngIf="!showInfoTextField" style="margin: 5px 0">
              {{profile.info}}
            </p>
            <div *ngIf="showInfoTextField">
              <ion-textarea class="text-box-style" [(ngModel)]="profile.info">
              </ion-textarea>
              <ion-button (click)="save('info')" fill="clear">
                <ion-icon name="save-outline"></ion-icon>
              </ion-button>
              <ion-button (click)="toggleTextField('info')" fill="clear">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>

  <ion-segment [(ngModel)]="segment">
    <ion-segment-button value="gallery">
      <ion-label>Gallery</ion-label>
    </ion-segment-button>

    <ion-segment-button value="activities">
      <ion-label>Activities</ion-label>
    </ion-segment-button>

    <ion-segment-button value="followers">
      <ion-label>Followers</ion-label>
    </ion-segment-button>

    <ion-segment-button value="following">
      <ion-label>Following</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-grid *ngIf="segment === 'gallery'">
    <ion-row>
      <ion-col size="12"> Gallery </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let img of gallery">
        <ion-img
          [src]="img.filepath"
          style="border: 1px solid #e1e1e1; width: 20vw"
        ></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="segment === 'activities'">
    <ion-row>
      <ion-col size="12">
        <home-page-post
          *ngFor="let item of veens"
          [item]="item"
          (opengallery)="openGallery($event)"
          (itemLikeToggled)="itemLikeToggled(item)"
          (openComments)="openComments(item)"
          (openUserProfile)="openUserProfile(item)"
        >
        </home-page-post>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="segment === 'followers'">
    <ion-item color="primary"> Followers </ion-item>

    <ion-item color="primary" *ngFor="let item of follower_list">
      <ion-avatar slot="start" (click)="userClicked(item)">
        <ion-img [src]="item.profile_image"></ion-img>
      </ion-avatar>
      <ion-text (click)="userClicked(item)"> {{item.name}} </ion-text>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="segment === 'following'">
    <ion-item color="primary"> Following </ion-item>

    <ion-item color="primary" *ngFor="let item of following_list">
      <ion-avatar slot="start" (click)="userClicked(item)">
        <ion-img [src]="item.profile_image"></ion-img>
      </ion-avatar>
      <ion-text (click)="userClicked(item)"> {{item.name}} </ion-text>

      <ion-button
        *ngIf="isOwnProfile"
        (click)="unFollowUser(item.user_id)"
        color="light"
        slot="end"
      >
        Un Follow
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>

<div class="spinner" *ngIf="isLoading">
  <ion-spinner></ion-spinner>
</div>
