<div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d925388.6414282889!2d67.81601492851561!3d25.040881533972073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1681107494202!5m2!1sen!2s"
    width="380"
    height="350"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>
<div class="featuers">
  <div class="addfeature">
    <p class="add">Add a feature</p>
    <p class="top">Top 10 places (for marketing)</p>
  </div>
  <div class="slect">
    <!-- <img src="../../../assets/down-aero.png" alt=""> -->
    <select class="rounded-select">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
    </select>
    <select class="rounded-select">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
    </select>
  </div>
  <div class="slect" style="padding-top: 20px">
    <select class="rounded-select">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
    </select>
    <select class="rounded-select">
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
    </select>
  </div>
  <div class="tab">
    <ion-segment [(ngModel)]="segment" (ionChange)="changeEffect($event)">
      <ion-segment-button value="user"> Restaurants </ion-segment-button>
      <ion-segment-button value="card"> Landmarks</ion-segment-button>
      <ion-segment-button value="change">Historical</ion-segment-button>
      <ion-segment-button value="nature">Nature</ion-segment-button>
    </ion-segment>
  </div>

  <ion-content *ngIf="segment == 'user'">
    <div class="spinner" *ngIf="isLoading">
      <ion-spinner></ion-spinner>
    </div>
    <div *ngIf="!isLoading">
      <explore-item
        *ngFor="let item of restaurants"
        [item]="item"
      ></explore-item>
    </div>
  </ion-content>

  <ion-content *ngIf="segment == 'card'">
    <div class="spinner" *ngIf="isLoading">
      <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="!isLoading">
      <explore-item *ngFor="let item of landmarks" [item]="item"></explore-item>
    </div>
  </ion-content>

  <ion-content *ngIf="segment == 'change'">
    <div class="spinner" *ngIf="isLoading">
      <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="!isLoading">
      <explore-item
        *ngFor="let item of historical"
        [item]="item"
      ></explore-item>
    </div>
  </ion-content>

  <ion-content *ngIf="segment == 'nature'">
    <div class="spinner" *ngIf="isLoading">
      <ion-spinner></ion-spinner>
    </div>

    <div *ngIf="!isLoading">
      <explore-item *ngFor="let item of nature" [item]="item"></explore-item>
    </div>
  </ion-content>
</div>
