<div style="width: 100%; display: flex; flex-wrap: wrap;">
  <div style="display: flex; justify-content: space-evenly;width: 100%; ">
    <div   class="side-img">
            <img src="../../../assets/girlimage.jpg" alt="">


    </div>
    <div class="input">
    <input type="text" placeholder="What's on your mind?" >
  </div>
  </div>
  <div class="upload-border-bottom">
  </div>
  <div class="upload">

    <div class="live-video">
        <img src="./../../../assets/c0dWho49-X3.png" >
      <p> live Videoo </p>
    </div>
    <div class="live-video">
        <img src="./../../../assets/img.png" >
      <p> Photo/Video </p>
    </div>
    <div class="live-video">
        <img src="./../../../assets/smile.png" >
      <p> Feeling/Activ </p>
    </div>
  </div>
</div>
