.story {
  font-weight: 500;
  font-size: 25px;
  padding-left: 10px;
}

.create-story-main {
 //  width: 100%;
  display: flex;
  // justify-content: center;
  // align-items: center;
  margin-top: -16px;

}

.create-story {
  height: 188px;
  width: 102px;
  padding-left: -7%;
  text-align: center;
  background-size: cover;
  margin-left: 21px;
  border-radius: 10px;
  background-repeat: no-repeat;
  margin-bottom: 19px;
  box-shadow: 0 0 5px 2px #e7ebef;

  img{
    height: 140px;
    border-radius: 10px;
    border-bottom: none;

  }
  span{
    font-size: 12px;
    line-height: 35px
  }
}


.button {
  height: 35px;
  width: 9%;
  border-radius: 50%;
  background-color: #78cbd0;
  position: absolute;
  top: 25%;
  left: 15%;
  padding: 7px;
  img {
    height: 20px;
  }

}
.user-stories{
  background-image: url(../../../assets/user-strory.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 188px;
  width: 102px;
  border-radius: 10px;
  background-repeat: no-repeat;
  margin-bottom: 19px;
  box-shadow: 0 0 5px 2px #e7ebef;
  margin-left: 16px;
  position: relative;
  .side-img {
    background-image: url(../../../assets/girlimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 42%;
    height: 21%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 10%;
    }

  .circlle{
    height: 10px;
    width: 11px;
    background-color: #09b131;
    border-radius: 50%;
    position: absolute;
    top: 75%;
    right: 8%;
  }
  .side-aero{
    height: 41px;
    width: 44%;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 41%;
    left:71%;
    box-shadow: 0 0 0 1px #e7ebef;

  }
  img{
    height: 20px;
    width: 25px;
    margin: 11px;
  }
}

