<div>
  <div class="story">
    <p>stories</p>
  </div>
  <div class="create-story-main">
    <div class="create-story">
      <img src="../../../assets/girlimage.jpg" alt="" />
      <div class="button">
        <img src="../../../assets/plus.png" alt="" />
      </div>
      <span> Create Story </span>
    </div>
    <div class="user-stories">
      <div class="side-img">
        <div class="circlle"></div>
      </div>
    </div>
    <div class="user-stories">
      <div class="side-img">
        <div class="circlle"></div>
      </div>
    </div>
    <div class="side-aero">
      <img src="../../../assets/side-aero.jpg.png" alt="" />
    </div>
  </div>
</div>
