<ion-tabs #tabs (ionTabsDidChange)="setCurrentTab()">
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home-page">
      <img src="../../../assets/logosmall.png" style="height: 25px;">
    </ion-tab-button>

    <ion-tab-button tab="reviews">
      <img src="../../../assets/review.png" style="height: 25px;">
    </ion-tab-button>

    <ion-tab-button tab="gallery">
      <img src="../../../assets/gallery.png" style="height: 25px;">
    </ion-tab-button>

    <ion-tab-button tab="places">
      <img src="../../../assets/loc.png" style="height: 25px;">
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
