<ion-header>
  <ion-toolbar color="primary">
    <ion-button (click)="closeModal(false)">
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>

    <ion-title>Choose Your Location</ion-title>

    <ion-button slot="end" (click)="closeModal(true)">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-title style="padding: 2px; font-size: 12px">{{ paddress }}</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar class="searchbar-input" #searchbox></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map id="map"></div>
</ion-content>
