.post {
  margin-top: 10px;
  // border: 1px solid red;
  border-radius: 16px;
  padding: 6px;
  box-shadow: 0 0 5px 2px rgb(231, 235, 239);
  height: auto;
}
ion-avatar {
  margin-top: -26px;
}
.section-box {
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  width: 100%;
  ion-icon {
    font-size: 20px;
  }

  ion-col {
    position: relative;
  }

  p {
    position: absolute;
    right: 7px;
    top: 58%;
    transform: translateY(-60%);
    margin: 0;
  }
}

.imgs {
  height: 100%;
  width: 100px;
  display: inline-block;
}
.row {
  display: flex;
  // flex-wrap: unset;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: center;
  padding: 4px;
}
.col {
  // border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  width: 100%;
  // padding: 10px;
}
.col-2 {
  // border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  width: 100%;
  position: fixed;
  margin-left: 20px;
  left: 50px;
  // padding: 10px;
}
.col-3 {
  // border: 1px solid red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 12px;
  width: 100%;
  position: fixed;
  left: 50px;
  // padding: 10px;
}

.comment-border {
  background-color: lightgray;
  height: 1px;
  width: 100%;
}
.text {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  width: 97%;
  line-height: 1px;
  .likeby p {
    font-size: 12px;
    color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
    padding-left: 15px;
  }
  .comments {
    font-size: 12px;
    color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
  }
}

.comment-box-main {
}
.chat {
  display: flex;
  padding: 20px;

  .side-img {
    img {
      border-radius: 50% !important;
      height: 41px;
      width: 44px;
    }
  }
  .user-text {
    height: auto;
    width: 50%;
    background-color: aliceblue;
    margin-left: 10px;
    border-radius: 10px;
    line-height: 7px;
  }
  .jhon-wrick {
    font-weight: bold;
    font-size: 16px;
    padding-left: 10px;
  }
  .hi {
    color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
    font-size: 13px;
    padding-left: 10px;
    font-weight: 500;
  }
}
.likereply {
  display: flex;
  padding-left: 70px;
  padding-bottom: -10px;
  line-height: 0px;
  margin-top: -12px;

  span {
    padding: 7px;
    font-size: 12px;
    color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
    font-weight: 700;
  }
}

.comment-line {
  display: flex;
  justify-content: space-evenly;
  padding-top: 25px;
  .side-img {
    img {
      border-radius: 50% !important;
      height: 41px;
      width: 44px;
    }
  }
  .input {
    input {
      width: 289px;
      height: 41px;
      border-radius: 50px;
      border: none;
      background-color: aliceblue;
      padding-left: 15px;
      font-size: 14px;
      outline: none;
    }
    .send-icon {
      position: relative;
      top: -43%;
      left: 91%;
      font-size: 15px;
      color: #288085;
    }
  }
  img {
    height: 10px;
    width: 10px;
  }
}
.viewmorecomments {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  color: rgba(var(--ion-text-color-rgb, 0, 0, 0), 0.4);
  padding-left: 10px;

  img {
    height: 10px;
    width: 10px;
    margin-top: 16px;
    margin-left: 5px;
  }
}
.viewbotmborder {
  height: 1px;
  width: 138px;
  background-color: gray;
  line-height: -12px;
  padding: -3px;
  padding-bottom: -8px;
  margin-top: -8px;
  margin-left: 10px;
}

ion-icon {
}
.name-sec {
  display: flex;
  justify-content: space-between;
  align-items: "center";
  // border: 1px solid red;
}
ion-item {
  border-radius: 16px;
  // --padding: 20px;
}
.fcomment {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
