<div class="post">
  <ion-item lines="none">
    <ion-avatar (click)="openUserProfile?.emit()" class="ion-margin-end">
      <img [src]="item?.user_profile_image" />
    </ion-avatar>
    <ion-label class="ion-text-wrap">
      <div class="name-sec">
        <h2>{{ item?.full_name }}</h2>
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </div>
      <p>{{ item?.body }}</p>
      <p style="color: var(--ion-color-primary)" (click)="openPlace?.emit()">
        {{ item?.activity ?? item?.activity_title }} : {{ item?.location }}
      </p>
    </ion-label>
  </ion-item>

  <div
    (click)="
      item?.files?.length > 3
        ? opengallery?.emit(item?.files)
        : log(item?.files)
    "
    *ngIf="item?.files && item?.files?.length > 0"
  >
    <image-collage [images]="item?.files"> </image-collage>
  </div>
  <div class="text">
    <div class="likeby">
      <p>like by amin khan</p>
    </div>
    <div class="comments">
      <p>50 comments</p>
    </div>
  </div>
  <ion-grid class="ion-margin-start section-box">
    <div class="comment-border"></div>
    <ion-row class="row">
      <ion-col size="2" class="col" (click)="itemLikeToggled?.emit()">
        <ion-icon
          [name]="item?.is_like ? 'thumbs-up' : 'thumbs-up-outline'"
        ></ion-icon>
        <p>{{ item?.like_count }}</p>
      </ion-col>
      <ion-col size="2" class="col-2" (click)="openComments?.emit()">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
        <p>{{ item?.comment_count }}</p>
      </ion-col>
      <ion-col class="col-3">
        <ion-icon name="arrow-redo-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <div class="comment-border"></div>

    <!-- <ion-row class="row">
      <div class="comment-border"></div>
      <ion-col class="col">
        <ion-icon name="thumbs-up-outline"></ion-icon>
        Like
      </ion-col>




      <ion-col class="col">
        <ion-icon name="chatbubble-ellipses-outline"></ion-icon>comment
      </ion-col>




      <ion-col class="col">
        <ion-icon name="arrow-redo-outline"></ion-icon>Share
      </ion-col>
      <div class="comment-border"></div>
    </ion-row> -->
  </ion-grid>
  <!-- <div class="comment-section">
  <div class="fcomment">
    <div> <ion-avatar (click)="openUserProfile?.emit()" class="ion-margin-end">
      <img [src]="item?.user_profile_image" />
    </ion-avatar></div>
    <div>
      <div><h2>Jhon Wick</h2>
      Lorem ipsum dolor sit amet.
      </div>
      <div>Like Reply Share 1d</div>
    </div>
  </div>
</div> -->

  <div class="comment-box-main">
    <!-- <div class="chat">
      <div class="side-img">
        <img src="../../../assets/girlimage.jpg" alt="" />
      </div>
      <div class="user-text">
        <p class="jhon-wrick">jhon wrick</p>
        <p class="hi">hi i am fine are u finee</p>
      </div>
    </div>
    <div class="likereply">
      <span>like</span>
      <span>Reply</span>
      <span>Share</span>
      <span>1d</span>
    </div> -->
    <!-- 
    <div class="comment-line">
      <div class="side-img">
        <img src="../../../assets/girlimage.jpg" alt="" />
      </div>
      <div class="input">
        <input type="text" placeholder="What's on your mind?" />
        <div class="send-icon">
          <ion-icon name="happy-outline"></ion-icon>
          <ion-icon
            _ngcontent-bjv-c148=""
            name="paper-plane-outline"
            ng-reflect-name="paper-plane-outline"
            role="img"
            class="ios hydrated"
            aria-label="paper plane outline"
          ></ion-icon>
        </div>
      </div>
    </div> -->

    <!-- <div class="viewmorecomments">
      <p>view more comments</p>
      <img src="../../../assets/down-aero.png" alt="" />
    </div> -->
    <!-- <div class="viewbotmborder"></div> -->
  </div>
</div>
