<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>205764117327-n3h3dokedvbdnkhc1o7cuat0aq3fos8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205764117327-n3h3dokedvbdnkhc1o7cuat0aq3fos8s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>205764117327-kuvhv5cd90u2ecvdqb4atkv9r1g1sr4e.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGnu76h_51VPEV44VoF6gbAtxWG4WqyRQ</string>
	<key>GCM_SENDER_ID</key>
	<string>205764117327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.olivia.veenme</string>
	<key>PROJECT_ID</key>
	<string>veenme-9d44c</string>
	<key>STORAGE_BUCKET</key>
	<string>veenme-9d44c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205764117327:ios:e80736849c3fd7195bfb3a</string>
</dict>
</plist>